#title p,button{
    text-align: center;
}

#polygon-div{
    position: relative;
}
#events-card{
    background: linear-gradient(156.91deg, #521755 -0.04%, #293576 100.06%);
background-blend-mode: multiply;
mix-blend-mode: multiply;
border-radius: 10px;
}
#events-card p{
    font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;
margin-bottom: 0px;
}


@media (min-width: 1199px) {
    #logo-img{
        height: 100px;
        width: 100px;
    }
    #home-image{
    text-align: end;
    }
    #home-image>img{
        height: 300px;
    }
    #about{
        margin-top: 250px;
    }
    #lorem{
        font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
text-align: center;
    }
    #headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 119px;
text-align: center;
    }
    #about-headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 59px;
text-align: center;
    }
    #our-work{
        margin-top: 100px;
    }
    #button{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
text-align: center;
    }
    #title #t1{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    }
    #title #t2{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    text-align: center;
    }
    #title #t3{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 11999px) {
    #logo-img{
        height: 100px;
        width: 100px;
    }
    #home-image{
    text-align: end;
    }
    #home-image>img{
        height: 300px;
    }
    #about{
        margin-top: 250px;
    }
    #lorem{
        font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 40px;
text-align: center;
    }
    #headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 86px;
line-height: 119px;
text-align: center;
    }
    #about-headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 54px;
line-height: 59px;
text-align: center;
    }
    #our-work{
        margin-top: 100px;
    }
    #button{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
text-align: center;
    }
    #title #t1{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    }
    #title #t2{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    text-align: center;
    }
    #title #t3{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    }
    #orbiters img{
        object-fit: cover;
    }
}
@media (max-width:992px) and (min-width:768px) {
    #home-image{
        text-align: end;
    }
    #about{
        margin-top: 230px;
    }
    #about-zbc-image{
        height: 180px;
    }
    
    #lorem{
        font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
text-align: center;
    }
    #headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height:89px;
text-align: center;
    }
    #about-headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
text-align: center;
    }
    #button{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
text-align: center;
    }
    #title #t1{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 59px;
    text-align: center;
    }
    #title #t2{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    text-align: center;
    }
    #title #t3{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 30px;
    text-align: center;
    }
    #our-work{
        margin-top: 70px;
    }
    #orbiters img{
        height: 100%;
        width: 100%;
        display: block;
    }
}
@media (max-width: 768px) and (min-width: 576px){
    #logo-img{
        height: 75px;
        width: 75px;
    }
    #home-image{
        text-align: center;
    }
    #home-image>img{
        margin-top: 30px;
        height: 300px;
    }
    #about{
        margin-top: 100px;
    }
    
    #special-rocket{
        height: 90px;
    }
    #events-img{
        width: 100%;
        height: 100%;
        display: block;
    }
    #lorem{
        font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 40px;
text-align: center;
    }
    #headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height:89px;
text-align: center;
    }
    #about-headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 64px;
text-align: center;
    }
    #button{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 40px;
text-align: center;
    }
    #title #t1{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 59px;
    text-align: center;
    }
    #title #t2{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 59px;
    text-align: center;
    }
    #title #t3{
        font-family: 'Righteous', cursive;;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    }
    #our-work{
        margin-top: 100px;
    }
}
@media (max-width:576px) {
    #logo-img{
        height: 70px;
        width: 60px;
    }
    #home-image{
        text-align: center;
    }
    #home-image>img{
        margin-top: 30px;
        height: 200px;
    }
    #about{
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    #special-rocket{
        display: none;
    }
    #lorem{
        font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
text-align: center;
    }
    #headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height:49px;
text-align: center;
    }
    #about-headings{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 65px;
text-align: center;
    }
    #button{
        font-family: 'Righteous', cursive;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;
    }
    #title #t1{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 59px;
    text-align: center;
    }
    #title #t2{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 59px;
    text-align: center;
    }
    #title #t3{
        font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    }
    #our-work{
        margin-top: 50px;
    }
    #orbiters img{
        align-items: center;
        height: 80%;
        width: 80%;
        display: block;
    }
    #orbiters div{
        padding-left: 80px;
    }
    
}